/* Container */
.home-container {
  display: flex;
  justify-content: center;
  padding: 60px 20px;
  background: linear-gradient(to right, #fdfbfb, #ebedee);
  height: 100vh;
  overflow: hidden;
}
.home-container {
  overflow: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.home-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
/* Section Content */
.event-intro {
  max-width: 700px;
  background: #ffffff;
  padding: 40px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Headings */
.event-intro h1 {
  font-size: 2rem;
  color: #222;
  margin-bottom: 10px;
}

.event-intro h2 {
  font-size: 1.3rem;
  color: #e56262;
  margin-bottom: 20px;
}

/* Paragraphs */
.event-intro p {
  font-size: 16px;
  color: #555;
  line-height: 1.6;
  margin-bottom: 12px;
}

.event-intro strong {
  color: #333;
}

/* CTA Button */
.booking-button {
  margin-top: 20px;
  padding: 14px 28px;
  font-size: 16px;
  font-weight: 600;
  background-color: #e56262;

  color: white;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
}

.booking-button:hover {
  background-color: #e27b7b;
}

/* ------------------ Responsive ------------------ */
@media screen and (max-width: 768px) {
  .event-intro {
    padding: 24px;
  }

  .event-intro h1 {
    font-size: 1.6rem;
  }

  .event-intro h2 {
    font-size: 1.1rem;
  }

  .booking-button {
    width: 100%;
    padding: 12px;
  }
}
