.main-container {
  background-color: linear-gradient(to right, #fdfbfb, #ebedee);
  flex-grow: 1;
  overflow: auto;
}
.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
}
